<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome Javascript -->
    <script src="https://kit.fontawesome.com/ed5937a94d.js"></script>

    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p><img src="https://file1.closermag.fr/extension/closermag/design/closermag/images/layout/main-logo.png" alt=""></p>
        <p class="lead">THE GOSSIP PROJECT</p>
        <hr class="my-4">
        <h3>Sois au courant de tous les gossips grâce à ATHENA NOVOTEL</h3>
      </div>

      <p><a class="btn btn-primary" href="/gossips/new/" role="button">Créer un nouveau gossip</a></p>

      <h2>Liste des gossips</h2>

      <% gossips.each_with_index do |gossip, i| %>
      <div class="media">
        <i class="fas fa-comment-alt fa-3x mr-4"></i>
        <div class="media-body">
          <h4 class="mt-0"><%= gossip.author %></h4>
          <p><%= gossip.content %></p>
          <p><a href=<%= "/gossips/#{i+1}/" %>>Lien vers le potin</a> / <a href=<%= "/gossips/#{i+1}/edit/" %>>Modifier le potin</a></p>
        </div>
      </div>
      <% end %>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
