<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Créer un potin !</h1>
    <p>Balance to potin via le formulaire ci-dessous</p>
    <form class="" action="/gossips/new/" method="POST">
      <p>Saisi ici ton nom: <input type="text" name="gossip_author" value=""></p>
      <p>Balance ton potin : <input type="text" name="gossip_content" value=""></p>
      <p><input type="submit" name="" value="Submit"></p>
    </form>
  </body>
</html>
